body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon/fonts/icomoon.woff');
} */

.group:hover .absolute {
  visibility: visible;
  opacity: 1;
}

.absolute {
  top: 100%;
  left: 0;
  z-index: 10;
}

/* Hide the dropdown menu by default */
.invisible {
  visibility: hidden;
}


@tailwind base;
@tailwind components;
@tailwind utilities;